{
  "rules": {
    // allow reassignment of function parameters
    // disallow parameter object manipulation
    // rule: http://eslint.org/docs/rules/no-param-reassign.html
    "no-param-reassign": [
      0,
      {
        "props": false
      }
    ],
    "new-cap": [2, {
      "capIsNewExceptions": ["Immutable.Map", "Immutable.Set", "Immutable.List"]
    }]
  },
  "extends": "airbnb"
}